<div class="header">
  <img src="https://media.npr.org/assets/img/2014/08/29/blainelotz_2014wlacchamp_sq-e3aa403c685b7e1549ab90fdb7fd11e2cd46e015.jpg"
       class="header-image-left float-left" alt="">
  <div class="header-title">
    <h1>The Auctioneer</h1>

    <h3 class="subtitle-left">today is <br>{{dateNow}}</h3>

  </div>
  <img src="https://image.shutterstock.com/image-photo/auctioneer-hitting-gavel-auction-justice-260nw-478670671.jpg"
       class="header-image-right float-right" alt="">
</div>

<div class="navbar">
  <div class="starters">
    <a routerLink="">Home</a>

    <div class="dropdown">
      <button class="dropbtn">My offers</button>
      <div class="dropdown-content">
        <a routerLink="/FakeOffersPage">overview1</a>
        <a routerLink="/Overview2">overview2</a>
        <a routerLink="/Overview3">overview3 with service</a>
        <a routerLink="/Overview4">overview4 with service (Link)</a>
        <a routerLink="/Overview5">overview5 with http requests</a>
        <a routerLink="">Placeholder</a>

      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">My bids</button>
      <div class="dropdown-content">
        <a href="Placeholder">Active</a>
        <a href="placeholder">History</a>
      </div>
    </div>
    <a href="My Account">My Account</a>

  </div>

  <div class="loginmenus">
    <a routerLink="/login" href="Sign up">Sign Up</a>
    <a href="Sign in">Sign In</a>
  </div>

</div>

