th, td, input {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

th {
  background-color: burlywood;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



